{% extends "base/_base.html" %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
  Podcast
{% endblock %}
{% block custom_body_class %}
    custom-background
{% endblock custom_body_class %}
{% block breadcrumb %}
    <li class="breadcrumb-item active">Podcast</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container-fluid h-100" style="margin-top: 100px;">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            {% if object %}
                <h2 class="text-center mb-4">Update Podcast</h2>
            {% else %}
                <h2 class="text-center mb-4">Add Podcast</h2>
            {% endif %}
            <div class="border p-4 rounded">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class="btn btn-primary d-block mx-auto" value="{% if object %}Edit Podcast{% else %}Add New Podcast{% endif %}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}